body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:600px;
  width:1101px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:17px;
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:1097px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:19px;
  top:100px;
  width:1061px;
  height:480px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:481px;
}
#u6 {
  position:absolute;
  left:2px;
  top:232px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:230px;
  top:100px;
  width:10px;
  height:480px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:471px;
  width:20px;
  height:14px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:480px;
}
#u8 {
  position:absolute;
  left:39px;
  top:114px;
  width:91px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:39px;
  top:270px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:134px;
  top:270px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:146px;
  top:278px;
  width:20px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:978px;
  top:15px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:951px;
  top:17px;
  width:16px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:925px;
  top:16px;
  width:17px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:50px;
  width:1099px;
  height:30px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:33px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:365px;
  top:27px;
  width:500px;
  height:21px;
}
#u24_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:27px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:300px;
  top:21px;
  width:130px;
  height:161px;
  visibility:hidden;
}
#u36_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:167px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:166px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:23px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:46px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:69px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:92px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u46_img.mouseOver {
}
#u46.mouseOver {
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:115px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u48_img.mouseOver {
}
#u48.mouseOver {
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:138px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u50_img.mouseOver {
}
#u50.mouseOver {
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:400px;
  top:21px;
  width:100px;
  height:184px;
  visibility:hidden;
}
#u52_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:190px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:189px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u54_img.mouseOver {
}
#u54.mouseOver {
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u56_img.mouseOver {
}
#u56.mouseOver {
}
#u57 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:0px;
  top:46px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u58_img.mouseOver {
}
#u58.mouseOver {
}
#u59 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:0px;
  top:69px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u60_img.mouseOver {
}
#u60.mouseOver {
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:92px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u62_img.mouseOver {
}
#u62.mouseOver {
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u64_img.mouseOver {
}
#u64.mouseOver {
}
#u65 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:138px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u66_img.mouseOver {
}
#u66.mouseOver {
}
#u67 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:161px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u68_img.mouseOver {
}
#u68.mouseOver {
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:19px;
  top:56px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:898px;
  top:57px;
  width:197px;
  height:18px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:470px;
  top:518px;
  width:320px;
  height:50px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:3px;
  top:6px;
  width:374px;
  height:37px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u77 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:39px;
  top:141px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:252px;
  top:165px;
  width:808px;
  height:139px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:44px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:182px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:382px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:467px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:547px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:639px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:722px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:44px;
  top:30px;
  width:138px;
  height:32px;
  font-size:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:33px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:182px;
  top:30px;
  width:200px;
  height:32px;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:382px;
  top:30px;
  width:85px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:467px;
  top:30px;
  width:80px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:547px;
  top:30px;
  width:92px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:639px;
  top:30px;
  width:83px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:722px;
  top:30px;
  width:81px;
  height:32px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:62px;
  width:44px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:44px;
  top:62px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:182px;
  top:62px;
  width:200px;
  height:36px;
  font-size:14px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:382px;
  top:62px;
  width:85px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:467px;
  top:62px;
  width:80px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:547px;
  top:62px;
  width:92px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:639px;
  top:62px;
  width:83px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:722px;
  top:62px;
  width:81px;
  height:36px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:98px;
  width:44px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:44px;
  top:98px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:182px;
  top:98px;
  width:200px;
  height:36px;
  font-size:14px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:382px;
  top:98px;
  width:85px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:467px;
  top:98px;
  width:80px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:547px;
  top:98px;
  width:92px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:639px;
  top:98px;
  width:83px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:722px;
  top:98px;
  width:81px;
  height:36px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:999px;
  top:195px;
  width:29px;
  height:30px;
  color:#FFE92B;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:999px;
  top:227px;
  width:29px;
  height:29px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u148 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:260px;
  top:173px;
  width:20px;
  height:16px;
}
#u150 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u151 {
  position:absolute;
  left:261px;
  top:234px;
  width:20px;
  height:16px;
}
#u152 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u153 {
  position:absolute;
  left:256px;
  top:199px;
  width:22px;
  height:25px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u154 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:872px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u156 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:967px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u158 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:987px;
  top:120px;
  width:14px;
  height:14px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u160 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:906px;
  top:200px;
  width:40px;
  height:20px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:906px;
  top:234px;
  width:40px;
  height:20px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:261px;
  top:266px;
  width:20px;
  height:16px;
}
#u166 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u167 {
  position:absolute;
  left:999px;
  top:261px;
  width:29px;
  height:29px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u168 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:460px;
  top:185px;
  visibility:hidden;
}
#u169_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u169_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:310px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:311px;
}
#u171 {
  position:absolute;
  left:2px;
  top:147px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:29px;
  top:156px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:16px;
  top:8px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:0px;
  top:28px;
  width:341px;
  height:10px;
}
#u176_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u176_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:14px;
  height:20px;
}
#u176_line {
  position:absolute;
  left:0px;
  top:5px;
  width:341px;
  height:1px;
}
#u177 {
  position:absolute;
  left:309px;
  top:2px;
  width:27px;
  height:26px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u178 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:34px;
  top:121px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u181 {
  position:absolute;
  left:120px;
  top:120px;
  width:191px;
  height:25px;
}
#u181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u182 {
  position:absolute;
  left:186px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u183 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:94px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u185 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:29px;
  top:54px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:120px;
  top:52px;
  width:40px;
  height:20px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:29px;
  top:83px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:120px;
  top:83px;
  width:191px;
  height:25px;
}
#u192_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u193 {
  position:absolute;
  left:34px;
  top:187px;
  width:121px;
  height:22px;
}
#u193_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u193_input:disabled {
  color:grayText;
}
#u194 {
  position:absolute;
  left:166px;
  top:187px;
  width:145px;
  height:22px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u194_input:disabled {
  color:grayText;
}
#u195 {
  position:absolute;
  left:34px;
  top:219px;
  width:277px;
  height:25px;
}
#u195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u196 {
  position:absolute;
  left:39px;
  top:167px;
  width:180px;
  height:22px;
}
#u196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u196_input:disabled {
  color:grayText;
}
#u197 {
  position:absolute;
  left:38px;
  top:199px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u199 {
  position:absolute;
  left:460px;
  top:185px;
  visibility:hidden;
}
#u199_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u199_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:310px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:311px;
}
#u201 {
  position:absolute;
  left:2px;
  top:147px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202 {
  position:absolute;
  left:29px;
  top:156px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u204 {
  position:absolute;
  left:16px;
  top:8px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u206 {
  position:absolute;
  left:0px;
  top:28px;
  width:341px;
  height:10px;
}
#u206_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u206_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:14px;
  height:20px;
}
#u206_line {
  position:absolute;
  left:0px;
  top:5px;
  width:341px;
  height:1px;
}
#u207 {
  position:absolute;
  left:309px;
  top:2px;
  width:27px;
  height:26px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u208 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:34px;
  top:121px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:120px;
  top:120px;
  width:191px;
  height:25px;
}
#u211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u212 {
  position:absolute;
  left:186px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u213 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:94px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u215 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:29px;
  top:54px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:120px;
  top:52px;
  width:40px;
  height:20px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:29px;
  top:83px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u222 {
  position:absolute;
  left:120px;
  top:83px;
  width:191px;
  height:25px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u223 {
  position:absolute;
  left:34px;
  top:187px;
  width:121px;
  height:22px;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u223_input:disabled {
  color:grayText;
}
#u224 {
  position:absolute;
  left:166px;
  top:187px;
  width:145px;
  height:22px;
}
#u224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u224_input:disabled {
  color:grayText;
}
#u225 {
  position:absolute;
  left:34px;
  top:219px;
  width:277px;
  height:25px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u226 {
  position:absolute;
  left:906px;
  top:264px;
  width:40px;
  height:20px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u227 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:39px;
  top:223px;
  width:181px;
  height:28px;
}
#u228_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
