body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:600px;
  width:1101px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:17px;
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:1097px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:19px;
  top:100px;
  width:1061px;
  height:480px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:481px;
}
#u6 {
  position:absolute;
  left:2px;
  top:232px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:230px;
  top:100px;
  width:10px;
  height:480px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:471px;
  width:20px;
  height:14px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:480px;
}
#u8 {
  position:absolute;
  left:39px;
  top:114px;
  width:91px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:39px;
  top:270px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:134px;
  top:270px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:146px;
  top:278px;
  width:20px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u15 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:978px;
  top:15px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:951px;
  top:17px;
  width:16px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u19 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:925px;
  top:16px;
  width:17px;
  height:21px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:50px;
  width:1099px;
  height:30px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:33px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:19px;
  top:56px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:898px;
  top:57px;
  width:197px;
  height:18px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:470px;
  top:518px;
  width:320px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:3px;
  top:6px;
  width:374px;
  height:37px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:39px;
  top:141px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:252px;
  top:165px;
  width:808px;
  height:139px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:44px;
  top:0px;
  width:138px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:182px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:382px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:467px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:547px;
  top:0px;
  width:92px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:31px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:639px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:31px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:722px;
  top:0px;
  width:81px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:31px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:30px;
  width:44px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:44px;
  top:30px;
  width:138px;
  height:32px;
  font-size:14px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:33px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:182px;
  top:30px;
  width:200px;
  height:32px;
  font-size:14px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:33px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:382px;
  top:30px;
  width:85px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:467px;
  top:30px;
  width:80px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:547px;
  top:30px;
  width:92px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:639px;
  top:30px;
  width:83px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:722px;
  top:30px;
  width:81px;
  height:32px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:62px;
  width:44px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u68 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:44px;
  top:62px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u70 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:182px;
  top:62px;
  width:200px;
  height:36px;
  font-size:14px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:382px;
  top:62px;
  width:85px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:467px;
  top:62px;
  width:80px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u76 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:547px;
  top:62px;
  width:92px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u78 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:639px;
  top:62px;
  width:83px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u80 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:722px;
  top:62px;
  width:81px;
  height:36px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u82 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:98px;
  width:44px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:37px;
}
#u84 {
  position:absolute;
  left:2px;
  top:10px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:44px;
  top:98px;
  width:138px;
  height:36px;
  font-size:14px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:37px;
}
#u86 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:182px;
  top:98px;
  width:200px;
  height:36px;
  font-size:14px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:382px;
  top:98px;
  width:85px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u90 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:467px;
  top:98px;
  width:80px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u92 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:547px;
  top:98px;
  width:92px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u94 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:639px;
  top:98px;
  width:83px;
  height:36px;
  font-size:14px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u96 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:722px;
  top:98px;
  width:81px;
  height:36px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:999px;
  top:195px;
  width:29px;
  height:30px;
  color:#FFE92B;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:999px;
  top:227px;
  width:29px;
  height:29px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:260px;
  top:173px;
  width:20px;
  height:16px;
}
#u104 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u105 {
  position:absolute;
  left:261px;
  top:234px;
  width:20px;
  height:16px;
}
#u106 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u107 {
  position:absolute;
  left:256px;
  top:199px;
  width:22px;
  height:25px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u108 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:872px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u110 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:967px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u112 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:987px;
  top:120px;
  width:14px;
  height:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:906px;
  top:200px;
  width:40px;
  height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:906px;
  top:234px;
  width:40px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:261px;
  top:266px;
  width:20px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:999px;
  top:261px;
  width:29px;
  height:29px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:460px;
  top:185px;
  visibility:hidden;
}
#u123_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u123_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:310px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:311px;
}
#u125 {
  position:absolute;
  left:2px;
  top:147px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:29px;
  top:156px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:16px;
  top:8px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:0px;
  top:28px;
  width:341px;
  height:10px;
}
#u130_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u130_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:14px;
  height:20px;
}
#u130_line {
  position:absolute;
  left:0px;
  top:5px;
  width:341px;
  height:1px;
}
#u131 {
  position:absolute;
  left:309px;
  top:2px;
  width:27px;
  height:26px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u132 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:34px;
  top:121px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:120px;
  top:120px;
  width:191px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u136 {
  position:absolute;
  left:186px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u137 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:94px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u139 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:29px;
  top:54px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:29px;
  top:83px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:120px;
  top:83px;
  width:191px;
  height:25px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u145 {
  position:absolute;
  left:34px;
  top:187px;
  width:121px;
  height:22px;
}
#u145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u145_input:disabled {
  color:grayText;
}
#u146 {
  position:absolute;
  left:166px;
  top:187px;
  width:145px;
  height:22px;
}
#u146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u146_input:disabled {
  color:grayText;
}
#u147 {
  position:absolute;
  left:34px;
  top:219px;
  width:277px;
  height:25px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u148 {
  position:absolute;
  left:127px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u149 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u148_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u150 {
  position:absolute;
  left:184px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u151 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u150_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u152 {
  position:absolute;
  left:39px;
  top:167px;
  width:180px;
  height:22px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u152_input:disabled {
  color:grayText;
}
#u153 {
  position:absolute;
  left:38px;
  top:199px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:460px;
  top:185px;
  visibility:hidden;
}
#u155_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u155_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:310px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:311px;
}
#u157 {
  position:absolute;
  left:2px;
  top:147px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:29px;
  top:156px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:16px;
  top:8px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:0px;
  top:28px;
  width:341px;
  height:10px;
}
#u162_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u162_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:14px;
  height:20px;
}
#u162_line {
  position:absolute;
  left:0px;
  top:5px;
  width:341px;
  height:1px;
}
#u163 {
  position:absolute;
  left:309px;
  top:2px;
  width:27px;
  height:26px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u164 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:34px;
  top:121px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:120px;
  top:120px;
  width:191px;
  height:25px;
}
#u167_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u168 {
  position:absolute;
  left:186px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:94px;
  top:263px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u171 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:29px;
  top:54px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u174 {
  position:absolute;
  left:29px;
  top:83px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u176 {
  position:absolute;
  left:120px;
  top:83px;
  width:191px;
  height:25px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u177 {
  position:absolute;
  left:34px;
  top:187px;
  width:121px;
  height:22px;
}
#u177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u177_input:disabled {
  color:grayText;
}
#u178 {
  position:absolute;
  left:166px;
  top:187px;
  width:145px;
  height:22px;
}
#u178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u178_input:disabled {
  color:grayText;
}
#u179 {
  position:absolute;
  left:34px;
  top:219px;
  width:277px;
  height:25px;
}
#u179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u180 {
  position:absolute;
  left:127px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u181 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u180_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u182 {
  position:absolute;
  left:184px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u183 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u182_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u184 {
  position:absolute;
  left:906px;
  top:264px;
  width:40px;
  height:20px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:39px;
  top:223px;
  width:181px;
  height:28px;
}
#u186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u187 {
  position:absolute;
  left:365px;
  top:27px;
  width:500px;
  height:21px;
}
#u187_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:27px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:26px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u189_img.mouseOver {
}
#u189.mouseOver {
}
#u190 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u191_img.mouseOver {
}
#u191.mouseOver {
}
#u192 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u193_img.mouseOver {
}
#u193.mouseOver {
}
#u194 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u195_img.mouseOver {
}
#u195.mouseOver {
}
#u196 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u197_img.mouseOver {
}
#u197.mouseOver {
}
#u198 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:300px;
  top:21px;
  width:130px;
  height:46px;
  visibility:hidden;
}
#u199_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:52px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u201_img.mouseOver {
}
#u201.mouseOver {
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:0px;
  top:23px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u203_img.mouseOver {
}
#u203.mouseOver {
}
#u204 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:400px;
  top:21px;
  width:100px;
  height:184px;
  visibility:hidden;
}
#u205_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:190px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:189px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u207_img.mouseOver {
}
#u207.mouseOver {
}
#u208 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:0px;
  top:23px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u209_img.mouseOver {
}
#u209.mouseOver {
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:0px;
  top:46px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u211_img.mouseOver {
}
#u211.mouseOver {
}
#u212 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:0px;
  top:69px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u213_img.mouseOver {
}
#u213.mouseOver {
}
#u214 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:0px;
  top:92px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u215_img.mouseOver {
}
#u215.mouseOver {
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:0px;
  top:115px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u217_img.mouseOver {
}
#u217.mouseOver {
}
#u218 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:0px;
  top:138px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u219_img.mouseOver {
}
#u219.mouseOver {
}
#u220 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:0px;
  top:161px;
  width:100px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u221_img.mouseOver {
}
#u221.mouseOver {
}
#u222 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
