body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:48px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:13px;
  width:253px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:987px;
  top:14px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1096px;
  top:14px;
  width:10px;
  height:15px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u9 {
  position:absolute;
  left:1161px;
  top:12px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1147px;
  top:12px;
  width:10px;
  height:15px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u12 {
  position:absolute;
  left:1115px;
  top:7px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:610px;
  width:1210px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:17px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:183px;
  top:57px;
  width:1018px;
  height:68px;
}
#u17_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1025px;
  height:75px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1093px;
  top:76px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1112px;
  top:81px;
  width:20px;
  height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:977px;
  top:76px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:48px;
  width:169px;
  height:552px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:553px;
}
#u26 {
  position:absolute;
  left:2px;
  top:268px;
  width:165px;
  visibility:hidden;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:14px;
  top:81px;
  width:24px;
  height:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:13px;
  top:118px;
  width:24px;
  height:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:13px;
  top:239px;
  width:24px;
  height:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:13px;
  top:199px;
  width:24px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:13px;
  top:160px;
  width:24px;
  height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:13px;
  top:279px;
  width:24px;
  height:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:196px;
  top:79px;
  width:120px;
  height:22px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u39_input:disabled {
  color:grayText;
}
#u40 {
  position:absolute;
  left:451px;
  top:79px;
  width:120px;
  height:22px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u40_input:disabled {
  color:grayText;
}
#u41 {
  position:absolute;
  left:324px;
  top:79px;
  width:120px;
  height:22px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u41_input:disabled {
  color:grayText;
}
#u42 {
  position:absolute;
  left:185px;
  top:185px;
  width:1023px;
  height:339px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:46px;
  font-size:14px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:47px;
}
#u44 {
  position:absolute;
  left:2px;
  top:15px;
  width:150px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:154px;
  top:0px;
  width:76px;
  height:46px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:230px;
  top:0px;
  width:85px;
  height:46px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:47px;
}
#u48 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:315px;
  top:0px;
  width:61px;
  height:46px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:376px;
  top:0px;
  width:61px;
  height:46px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:47px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:437px;
  top:0px;
  width:76px;
  height:46px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:47px;
}
#u54 {
  position:absolute;
  left:2px;
  top:14px;
  width:72px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:513px;
  top:0px;
  width:81px;
  height:46px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:47px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:594px;
  top:0px;
  width:86px;
  height:46px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:47px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:680px;
  top:0px;
  width:80px;
  height:46px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:47px;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:760px;
  top:0px;
  width:70px;
  height:46px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:47px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:830px;
  top:0px;
  width:83px;
  height:46px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:47px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:913px;
  top:0px;
  width:52px;
  height:46px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:47px;
}
#u66 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:965px;
  top:0px;
  width:53px;
  height:46px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:47px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:46px;
  width:154px;
  height:42px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u70 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:154px;
  top:46px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:230px;
  top:46px;
  width:85px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u74 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:315px;
  top:46px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u76 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:376px;
  top:46px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u78 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:437px;
  top:46px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:513px;
  top:46px;
  width:81px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:594px;
  top:46px;
  width:86px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:680px;
  top:46px;
  width:80px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u86 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:760px;
  top:46px;
  width:70px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u88 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:830px;
  top:46px;
  width:83px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u90 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:913px;
  top:46px;
  width:52px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:43px;
}
#u92 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:965px;
  top:46px;
  width:53px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u94 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:88px;
  width:154px;
  height:42px;
  font-size:16px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:154px;
  top:88px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u98 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:230px;
  top:88px;
  width:85px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u100 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:315px;
  top:88px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:376px;
  top:88px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:437px;
  top:88px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u106 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:513px;
  top:88px;
  width:81px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:594px;
  top:88px;
  width:86px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:680px;
  top:88px;
  width:80px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u112 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:760px;
  top:88px;
  width:70px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u114 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:830px;
  top:88px;
  width:83px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u116 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:913px;
  top:88px;
  width:52px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:43px;
}
#u118 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:965px;
  top:88px;
  width:53px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u120 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:130px;
  width:154px;
  height:42px;
  font-size:16px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:154px;
  top:130px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:230px;
  top:130px;
  width:85px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:315px;
  top:130px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:376px;
  top:130px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u130 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:437px;
  top:130px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u132 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:513px;
  top:130px;
  width:81px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:594px;
  top:130px;
  width:86px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:680px;
  top:130px;
  width:80px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:760px;
  top:130px;
  width:70px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:830px;
  top:130px;
  width:83px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:913px;
  top:130px;
  width:52px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:43px;
}
#u144 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:965px;
  top:130px;
  width:53px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u146 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:172px;
  width:154px;
  height:42px;
  font-size:16px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u148 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:154px;
  top:172px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u150 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:230px;
  top:172px;
  width:85px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u152 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:315px;
  top:172px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u154 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:376px;
  top:172px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u156 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:437px;
  top:172px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u158 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:513px;
  top:172px;
  width:81px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u160 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:594px;
  top:172px;
  width:86px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u162 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:680px;
  top:172px;
  width:80px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u164 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:760px;
  top:172px;
  width:70px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u166 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:830px;
  top:172px;
  width:83px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u168 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:913px;
  top:172px;
  width:52px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:43px;
}
#u170 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:965px;
  top:172px;
  width:53px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u172 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:214px;
  width:154px;
  height:42px;
  font-size:16px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u174 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:154px;
  top:214px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u176 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:230px;
  top:214px;
  width:85px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:315px;
  top:214px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u180 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:376px;
  top:214px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u182 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:437px;
  top:214px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u184 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:513px;
  top:214px;
  width:81px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u186 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:594px;
  top:214px;
  width:86px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u188 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:680px;
  top:214px;
  width:80px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u190 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:760px;
  top:214px;
  width:70px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u192 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:830px;
  top:214px;
  width:83px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u194 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:913px;
  top:214px;
  width:52px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:43px;
}
#u196 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:965px;
  top:214px;
  width:53px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u198 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:0px;
  top:256px;
  width:154px;
  height:42px;
  font-size:16px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u200 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:154px;
  top:256px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u202 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:230px;
  top:256px;
  width:85px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:43px;
}
#u204 {
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:315px;
  top:256px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u206 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:376px;
  top:256px;
  width:61px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:43px;
}
#u208 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:437px;
  top:256px;
  width:76px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:43px;
}
#u210 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:513px;
  top:256px;
  width:81px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:43px;
}
#u212 {
  position:absolute;
  left:2px;
  top:12px;
  width:77px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:594px;
  top:256px;
  width:86px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:43px;
}
#u214 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:680px;
  top:256px;
  width:80px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:43px;
}
#u216 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:760px;
  top:256px;
  width:70px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:43px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:830px;
  top:256px;
  width:83px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u220 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:913px;
  top:256px;
  width:52px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:43px;
}
#u222 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:965px;
  top:256px;
  width:53px;
  height:42px;
  font-size:16px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:43px;
}
#u224 {
  position:absolute;
  left:2px;
  top:12px;
  width:49px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:0px;
  top:298px;
  width:154px;
  height:36px;
  font-size:16px;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
}
#u226 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:154px;
  top:298px;
  width:76px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u228 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:230px;
  top:298px;
  width:85px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
}
#u230 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:315px;
  top:298px;
  width:61px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u232 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:376px;
  top:298px;
  width:61px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:37px;
}
#u234 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:437px;
  top:298px;
  width:76px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u236 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:513px;
  top:298px;
  width:81px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:37px;
}
#u238 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:594px;
  top:298px;
  width:86px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:37px;
}
#u240 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:680px;
  top:298px;
  width:80px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:37px;
}
#u242 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:760px;
  top:298px;
  width:70px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:37px;
}
#u244 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:830px;
  top:298px;
  width:83px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u246 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:913px;
  top:298px;
  width:52px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:37px;
}
#u248 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:965px;
  top:298px;
  width:53px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u250 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:204px;
  top:146px;
  width:200px;
  height:24px;
  font-family:'新細明體 Bold', '新細明體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:184px;
  top:153px;
  width:12px;
  height:12px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u255 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:17px;
  top:72px;
  width:155px;
  height:245px;
}
#u257 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u258 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u260 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u264 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u266 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u268 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
