body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:978px;
  top:15px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:951px;
  top:17px;
  width:16px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:3px;
  top:6px;
  width:374px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:50px;
  width:1099px;
  height:30px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:365px;
  top:27px;
  width:500px;
  height:21px;
}
#u11_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:27px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:300px;
  top:21px;
  width:130px;
  height:46px;
  visibility:hidden;
}
#u23_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:52px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:23px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:400px;
  top:21px;
  width:147px;
  height:184px;
  visibility:hidden;
}
#u29_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:153px;
  height:190px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:189px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:23px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:46px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:69px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:92px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:115px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:138px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:161px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1px;
  top:80px;
  width:1100px;
  height:520px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:521px;
}
#u48 {
  position:absolute;
  left:2px;
  top:252px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:600px;
  width:1101px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:17px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:1097px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:19px;
  top:100px;
  width:1061px;
  height:480px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:481px;
}
#u53 {
  position:absolute;
  left:2px;
  top:232px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:230px;
  top:100px;
  width:10px;
  height:480px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:471px;
  width:20px;
  height:14px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:480px;
}
#u55 {
  position:absolute;
  left:39px;
  top:114px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:40px;
  top:328px;
  width:181px;
  height:28px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u58 {
  position:absolute;
  left:40px;
  top:368px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:135px;
  top:368px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:147px;
  top:376px;
  width:20px;
  height:18px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u63 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:470px;
  top:518px;
  width:320px;
  height:50px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:40px;
  top:303px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:252px;
  top:165px;
  width:805px;
  height:355px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:51px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:31px;
}
#u72 {
  position:absolute;
  left:2px;
  top:6px;
  width:105px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:160px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u74 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:246px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:378px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u78 {
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:510px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:607px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u82 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:714px;
  top:0px;
  width:86px;
  height:30px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:30px;
  width:51px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:51px;
  top:30px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:160px;
  top:30px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:246px;
  top:30px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:378px;
  top:30px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:510px;
  top:30px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u96 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:607px;
  top:30px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u98 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:714px;
  top:30px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u100 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:62px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:51px;
  top:62px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:160px;
  top:62px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:246px;
  top:62px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u107_img.mouseOver {
}
#u107.mouseOver {
}
#u108 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:378px;
  top:62px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:510px;
  top:62px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u112 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:607px;
  top:62px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u114 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:714px;
  top:62px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:94px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:51px;
  top:94px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:160px;
  top:94px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:246px;
  top:94px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u123_img.mouseOver {
}
#u123.mouseOver {
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:378px;
  top:94px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u126 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:510px;
  top:94px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u128 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:607px;
  top:94px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:714px;
  top:94px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u132 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:126px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:51px;
  top:126px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u136 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:160px;
  top:126px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u138 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:246px;
  top:126px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u139_img.mouseOver {
}
#u139.mouseOver {
}
#u140 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:378px;
  top:126px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u142 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:510px;
  top:126px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u144 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:607px;
  top:126px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u146 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:714px;
  top:126px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u148 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:0px;
  top:158px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:51px;
  top:158px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:160px;
  top:158px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:246px;
  top:158px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u155_img.mouseOver {
}
#u155.mouseOver {
}
#u156 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:378px;
  top:158px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u158 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:510px;
  top:158px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u160 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:607px;
  top:158px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u162 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:714px;
  top:158px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u164 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:0px;
  top:190px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u166 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:51px;
  top:190px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u168 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:160px;
  top:190px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u170 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:246px;
  top:190px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u171_img.mouseOver {
}
#u171.mouseOver {
}
#u172 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:378px;
  top:190px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u174 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:510px;
  top:190px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u176 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:607px;
  top:190px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u178 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:714px;
  top:190px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u180 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:222px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u182 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:51px;
  top:222px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u184 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:160px;
  top:222px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u186 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u187 {
  position:absolute;
  left:246px;
  top:222px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u187_img.mouseOver {
}
#u187.mouseOver {
}
#u188 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:378px;
  top:222px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u190 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:510px;
  top:222px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u192 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:607px;
  top:222px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u194 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:714px;
  top:222px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u196 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:0px;
  top:254px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u198 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:51px;
  top:254px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u200 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u201 {
  position:absolute;
  left:160px;
  top:254px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u202 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:246px;
  top:254px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u203_img.mouseOver {
}
#u203.mouseOver {
}
#u204 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:378px;
  top:254px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u206 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:510px;
  top:254px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u208 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:607px;
  top:254px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u210 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:714px;
  top:254px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u212 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:0px;
  top:286px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u214 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:51px;
  top:286px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u216 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:160px;
  top:286px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u218 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:246px;
  top:286px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u219_img.mouseOver {
}
#u219.mouseOver {
}
#u220 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:378px;
  top:286px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u222 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:510px;
  top:286px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u224 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:607px;
  top:286px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u226 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:714px;
  top:286px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u228 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:0px;
  top:318px;
  width:51px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:33px;
}
#u230 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:51px;
  top:318px;
  width:109px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u232 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:160px;
  top:318px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u234 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:246px;
  top:318px;
  width:132px;
  height:32px;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u235_img.mouseOver {
}
#u235.mouseOver {
}
#u236 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:378px;
  top:318px;
  width:132px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:33px;
}
#u238 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:510px;
  top:318px;
  width:97px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
}
#u240 {
  position:absolute;
  left:2px;
  top:8px;
  width:93px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:607px;
  top:318px;
  width:107px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
}
#u242 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:714px;
  top:318px;
  width:86px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u244 {
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:260px;
  top:173px;
  width:20px;
  height:16px;
}
#u246 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u247 {
  position:absolute;
  left:261px;
  top:234px;
  width:20px;
  height:16px;
}
#u248 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u249 {
  position:absolute;
  left:256px;
  top:199px;
  width:22px;
  height:25px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u250 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:967px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u252 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u253 {
  position:absolute;
  left:982px;
  top:200px;
  width:40px;
  height:20px;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u254 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:983px;
  top:264px;
  width:40px;
  height:20px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u256 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:983px;
  top:393px;
  width:40px;
  height:20px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u258 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  position:absolute;
  left:983px;
  top:360px;
  width:40px;
  height:20px;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u260 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:983px;
  top:328px;
  width:40px;
  height:20px;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:983px;
  top:296px;
  width:40px;
  height:20px;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u264 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:983px;
  top:425px;
  width:40px;
  height:20px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u266 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:983px;
  top:457px;
  width:40px;
  height:20px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u268 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:983px;
  top:489px;
  width:40px;
  height:20px;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u270 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:984px;
  top:234px;
  width:40px;
  height:20px;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u272 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:261px;
  top:266px;
  width:20px;
  height:16px;
}
#u274 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u275 {
  position:absolute;
  left:262px;
  top:298px;
  width:20px;
  height:16px;
}
#u276 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u277 {
  position:absolute;
  left:262px;
  top:330px;
  width:20px;
  height:16px;
}
#u278 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u279 {
  position:absolute;
  left:262px;
  top:363px;
  width:20px;
  height:16px;
}
#u280 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u281 {
  position:absolute;
  left:262px;
  top:394px;
  width:20px;
  height:16px;
}
#u282 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u283 {
  position:absolute;
  left:262px;
  top:459px;
  width:20px;
  height:16px;
}
#u284 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u285 {
  position:absolute;
  left:262px;
  top:428px;
  width:20px;
  height:16px;
}
#u286 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u287 {
  position:absolute;
  left:262px;
  top:490px;
  width:20px;
  height:16px;
}
#u288 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u289 {
  position:absolute;
  left:39px;
  top:204px;
  width:181px;
  height:28px;
}
#u289_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u290 {
  position:absolute;
  left:40px;
  top:241px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u292 {
  position:absolute;
  left:40px;
  top:265px;
  width:85px;
  height:28px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u293 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:134px;
  top:265px;
  width:85px;
  height:28px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u295 {
  position:absolute;
  left:2px;
  top:5px;
  width:81px;
  word-wrap:break-word;
}
#u296 {
  position:absolute;
  left:19px;
  top:56px;
  width:129px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u297 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u298 {
  position:absolute;
  left:838px;
  top:57px;
  width:253px;
  height:18px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:19px;
}
#u299 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u300 {
  position:absolute;
  left:39px;
  top:141px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u302 {
  position:absolute;
  left:39px;
  top:167px;
  width:180px;
  height:22px;
}
#u302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u302_input:disabled {
  color:grayText;
}
