body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:48px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:48px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:13px;
  width:253px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:23px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:987px;
  top:14px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1096px;
  top:14px;
  width:10px;
  height:15px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u9 {
  position:absolute;
  left:1161px;
  top:12px;
  width:30px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1147px;
  top:12px;
  width:10px;
  height:15px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:6px;
  width:20px;
  height:14px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u12 {
  position:absolute;
  left:1115px;
  top:7px;
  width:24px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:610px;
  width:1210px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:17px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:1206px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:183px;
  top:57px;
  width:1018px;
  height:68px;
}
#u17_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1025px;
  height:75px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:1014px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:197px;
  top:79px;
  width:120px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u19_input:disabled {
  color:grayText;
}
#u20 {
  position:absolute;
  left:324px;
  top:78px;
  width:120px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:451px;
  top:79px;
  width:120px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:833px;
  top:79px;
  width:120px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
#u23 {
  position:absolute;
  left:1093px;
  top:76px;
  width:100px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1112px;
  top:81px;
  width:20px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:977px;
  top:76px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:48px;
  width:169px;
  height:552px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:553px;
}
#u30 {
  position:absolute;
  left:2px;
  top:268px;
  width:165px;
  visibility:hidden;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:706px;
  top:79px;
  width:120px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32 {
  position:absolute;
  left:579px;
  top:79px;
  width:120px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u32_input:disabled {
  color:grayText;
}
#u33 {
  position:absolute;
  left:14px;
  top:81px;
  width:24px;
  height:24px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:13px;
  top:118px;
  width:24px;
  height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:13px;
  top:239px;
  width:24px;
  height:24px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:13px;
  top:199px;
  width:24px;
  height:24px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:13px;
  top:160px;
  width:24px;
  height:24px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:13px;
  top:279px;
  width:24px;
  height:24px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:183px;
  top:169px;
  width:1015px;
  height:431px;
}
#u45_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1022px;
  height:438px;
}
#u46 {
  position:absolute;
  left:2px;
  top:208px;
  width:1011px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:204px;
  top:139px;
  width:200px;
  height:24px;
  font-family:'新細明體 Bold', '新細明體';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:184px;
  top:146px;
  width:12px;
  height:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:229px;
  top:191px;
  width:184px;
  height:34px;
  font-size:18px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:413px;
  top:191px;
  width:184px;
  height:34px;
  font-size:18px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u55 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:597px;
  top:191px;
  width:184px;
  height:34px;
  font-size:18px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:781px;
  top:191px;
  width:184px;
  height:34px;
  font-size:18px;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u59 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:965px;
  top:191px;
  width:184px;
  height:34px;
  font-size:18px;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:35px;
}
#u61 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:229px;
  top:225px;
  width:920px;
  height:345px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:346px;
}
#u63 {
  position:absolute;
  left:2px;
  top:164px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:494px;
  top:287px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:584px;
  top:287px;
  width:216px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:493px;
  top:323px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:584px;
  top:326px;
  width:56px;
  height:19px;
  font-size:16px;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:654px;
  top:326px;
  width:56px;
  height:19px;
  font-size:16px;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73 {
  position:absolute;
  left:728px;
  top:326px;
  width:56px;
  height:19px;
  font-size:16px;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u73_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u75 {
  position:absolute;
  left:499px;
  top:362px;
  visibility:hidden;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:0px;
  top:45px;
  width:301px;
  height:25px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78 {
  position:absolute;
  left:0px;
  top:84px;
  width:271px;
  height:25px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:0px;
  top:121px;
  width:301px;
  height:22px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u79_input:disabled {
  color:grayText;
}
#u80 {
  position:absolute;
  left:281px;
  top:89px;
  width:17px;
  height:15px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u81 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:589px;
  top:525px;
  width:100px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:499px;
  top:362px;
}
#u83_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u83_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85 {
  position:absolute;
  left:0px;
  top:45px;
  width:301px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86 {
  position:absolute;
  left:0px;
  top:84px;
  width:271px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  position:absolute;
  left:0px;
  top:121px;
  width:301px;
  height:22px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u87_input:disabled {
  color:grayText;
}
#u88 {
  position:absolute;
  left:281px;
  top:89px;
  width:17px;
  height:15px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:716px;
  top:366px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u91 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u90_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u92 {
  position:absolute;
  left:710px;
  top:233px;
  width:390px;
  height:356px;
  overflow:hidden;
  visibility:hidden;
}
#u92_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:356px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u92_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:300px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:300px;
}
#u94 {
  position:absolute;
  left:2px;
  top:142px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:17px;
  top:72px;
  width:150px;
  height:240px;
}
#u95_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:156px;
  height:246px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:245px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u100 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:80px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u102 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:120px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u104 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:0px;
  top:160px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u106 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:41px;
}
#u108 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:150px;
  top:40px;
  width:120px;
  height:30px;
  visibility:hidden;
}
#u109_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:36px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-size:16px;
  color:#1E1E1E;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:150px;
  top:200px;
  width:120px;
  height:183px;
  visibility:hidden;
}
#u113_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:189px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:188px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:90px;
  width:120px;
  height:31px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:121px;
  width:120px;
  height:31px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u124 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:0px;
  top:152px;
  width:120px;
  height:31px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:150px;
  top:160px;
  width:180px;
  height:90px;
  visibility:hidden;
}
#u127_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:186px;
  height:96px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:95px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:31px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:30px;
  width:180px;
  height:30px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:31px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:60px;
  width:180px;
  height:30px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:31px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:494px;
  top:251px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u137 {
  position:absolute;
  left:587px;
  top:251px;
  width:64px;
  height:19px;
  font-size:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
