body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:978px;
  top:15px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:951px;
  top:17px;
  width:16px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:3px;
  top:6px;
  width:374px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:365px;
  top:27px;
  width:500px;
  height:21px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:27px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:21px;
  width:130px;
  height:46px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:52px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:23px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:400px;
  top:21px;
  width:147px;
  height:184px;
  visibility:hidden;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:153px;
  height:190px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:189px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:23px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:46px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:69px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:92px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:115px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:138px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:161px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:50px;
  width:1099px;
  height:30px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:600px;
  width:1101px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:17px;
}
#u49 {
  position:absolute;
  left:2px;
  top:0px;
  width:1097px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:19px;
  top:100px;
  width:1061px;
  height:480px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:481px;
}
#u51 {
  position:absolute;
  left:2px;
  top:232px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:230px;
  top:100px;
  width:10px;
  height:480px;
}
#u52_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u52_end {
  position:absolute;
  left:-5px;
  top:471px;
  width:20px;
  height:14px;
}
#u52_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:480px;
}
#u53 {
  position:absolute;
  left:39px;
  top:114px;
  width:91px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:39px;
  top:328px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:134px;
  top:328px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:146px;
  top:336px;
  width:20px;
  height:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u60 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:19px;
  top:56px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:898px;
  top:57px;
  width:197px;
  height:18px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:470px;
  top:518px;
  width:320px;
  height:50px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:39px;
  top:141px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:253px;
  top:168px;
  width:805px;
  height:133px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u71 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:38px;
  top:0px;
  width:88px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:126px;
  top:0px;
  width:87px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:213px;
  top:0px;
  width:90px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:303px;
  top:0px;
  width:73px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:376px;
  top:0px;
  width:73px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:449px;
  top:0px;
  width:73px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:522px;
  top:0px;
  width:70px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:592px;
  top:0px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:677px;
  top:0px;
  width:73px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:750px;
  top:0px;
  width:50px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:32px;
  width:38px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#1476B5;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:38px;
  top:32px;
  width:88px;
  height:32px;
  font-size:14px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:126px;
  top:32px;
  width:87px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:213px;
  top:32px;
  width:90px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:303px;
  top:32px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:376px;
  top:32px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:449px;
  top:32px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u105 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:522px;
  top:32px;
  width:70px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u107 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:592px;
  top:32px;
  width:85px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u109 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:677px;
  top:32px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:750px;
  top:32px;
  width:50px;
  height:32px;
  text-align:center;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:0px;
  top:64px;
  width:38px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u115 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:38px;
  top:64px;
  width:88px;
  height:32px;
  font-size:14px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:126px;
  top:64px;
  width:87px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u119 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:213px;
  top:64px;
  width:90px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u121 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:303px;
  top:64px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:376px;
  top:64px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u125 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:449px;
  top:64px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u127 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:522px;
  top:64px;
  width:70px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u129 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:592px;
  top:64px;
  width:85px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u131 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:677px;
  top:64px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u133 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:750px;
  top:64px;
  width:50px;
  height:32px;
  text-align:center;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u135 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:0px;
  top:96px;
  width:38px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:33px;
}
#u137 {
  position:absolute;
  left:2px;
  top:8px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:38px;
  top:96px;
  width:88px;
  height:32px;
  font-size:14px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u139 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:126px;
  top:96px;
  width:87px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u141 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:213px;
  top:96px;
  width:90px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:33px;
}
#u143 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:303px;
  top:96px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u145 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:376px;
  top:96px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u147 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:449px;
  top:96px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u149 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:522px;
  top:96px;
  width:70px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:33px;
}
#u151 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:592px;
  top:96px;
  width:85px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u153 {
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:677px;
  top:96px;
  width:73px;
  height:32px;
  font-size:14px;
  text-align:center;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
}
#u155 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:750px;
  top:96px;
  width:50px;
  height:32px;
  text-align:center;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:33px;
}
#u157 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1016px;
  top:201px;
  width:29px;
  height:30px;
  color:#FFE92B;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:1016px;
  top:232px;
  width:29px;
  height:29px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u161 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:260px;
  top:173px;
  width:20px;
  height:16px;
}
#u163 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u164 {
  position:absolute;
  left:261px;
  top:234px;
  width:20px;
  height:16px;
}
#u165 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u166 {
  position:absolute;
  left:256px;
  top:199px;
  width:22px;
  height:25px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u167 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:872px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u169 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:967px;
  top:114px;
  width:85px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u171 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:987px;
  top:120px;
  width:14px;
  height:14px;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u173 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:947px;
  top:206px;
  width:40px;
  height:20px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u175 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:947px;
  top:240px;
  width:40px;
  height:20px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:261px;
  top:266px;
  width:20px;
  height:16px;
}
#u179 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u180 {
  position:absolute;
  left:1016px;
  top:266px;
  width:29px;
  height:29px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u181 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:409px;
  top:114px;
  visibility:hidden;
}
#u182_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u182_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:440px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:441px;
}
#u184 {
  position:absolute;
  left:2px;
  top:212px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:29px;
  top:296px;
  width:93px;
  height:19px;
  font-size:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:16px;
  top:8px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u189 {
  position:absolute;
  left:0px;
  top:28px;
  width:341px;
  height:10px;
}
#u189_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u189_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:14px;
  height:20px;
}
#u189_line {
  position:absolute;
  left:0px;
  top:5px;
  width:341px;
  height:1px;
}
#u190 {
  position:absolute;
  left:309px;
  top:2px;
  width:27px;
  height:26px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u191 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:29px;
  top:121px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:120px;
  top:120px;
  width:191px;
  height:25px;
}
#u194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u195 {
  position:absolute;
  left:186px;
  top:403px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u196 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:94px;
  top:403px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u198 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:29px;
  top:54px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:34px;
  top:327px;
  width:121px;
  height:22px;
}
#u201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u201_input:disabled {
  color:grayText;
}
#u202 {
  position:absolute;
  left:166px;
  top:327px;
  width:145px;
  height:22px;
}
#u202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u202_input:disabled {
  color:grayText;
}
#u203 {
  position:absolute;
  left:34px;
  top:359px;
  width:277px;
  height:25px;
}
#u203_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u204 {
  position:absolute;
  left:120px;
  top:85px;
  width:191px;
  height:25px;
}
#u204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u205 {
  position:absolute;
  left:39px;
  top:262px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u207 {
  position:absolute;
  left:120px;
  top:258px;
  width:191px;
  height:25px;
}
#u207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u208 {
  position:absolute;
  left:38px;
  top:155px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:29px;
  top:85px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u212 {
  position:absolute;
  left:119px;
  top:156px;
  width:192px;
  height:25px;
}
#u212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u213 {
  position:absolute;
  left:39px;
  top:190px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u215 {
  position:absolute;
  left:120px;
  top:187px;
  width:191px;
  height:25px;
}
#u215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u216 {
  position:absolute;
  left:39px;
  top:226px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:120px;
  top:222px;
  width:191px;
  height:25px;
}
#u218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u219 {
  position:absolute;
  left:127px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u220 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u219_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u221 {
  position:absolute;
  left:184px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u222 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u221_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u223 {
  position:absolute;
  left:39px;
  top:167px;
  width:180px;
  height:22px;
}
#u223_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u223_input:disabled {
  color:grayText;
}
#u224 {
  position:absolute;
  left:38px;
  top:199px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u226 {
  position:absolute;
  left:409px;
  top:114px;
  visibility:hidden;
}
#u226_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:440px;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:441px;
}
#u228 {
  position:absolute;
  left:2px;
  top:212px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:29px;
  top:296px;
  width:89px;
  height:19px;
  font-size:16px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u231 {
  position:absolute;
  left:16px;
  top:8px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u233 {
  position:absolute;
  left:0px;
  top:28px;
  width:341px;
  height:10px;
}
#u233_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u233_end {
  position:absolute;
  left:332px;
  top:-5px;
  width:14px;
  height:20px;
}
#u233_line {
  position:absolute;
  left:0px;
  top:5px;
  width:341px;
  height:1px;
}
#u234 {
  position:absolute;
  left:309px;
  top:2px;
  width:27px;
  height:26px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u235 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:29px;
  top:121px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:120px;
  top:120px;
  width:191px;
  height:25px;
}
#u238_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u239 {
  position:absolute;
  left:186px;
  top:403px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u240 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:94px;
  top:403px;
  width:81px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:26px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:29px;
  top:54px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u245 {
  position:absolute;
  left:34px;
  top:327px;
  width:121px;
  height:22px;
}
#u245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u245_input:disabled {
  color:grayText;
}
#u246 {
  position:absolute;
  left:166px;
  top:327px;
  width:145px;
  height:22px;
}
#u246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
}
#u246_input:disabled {
  color:grayText;
}
#u247 {
  position:absolute;
  left:34px;
  top:359px;
  width:277px;
  height:25px;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#5E5E5E;
  text-align:left;
}
#u248 {
  position:absolute;
  left:120px;
  top:85px;
  width:191px;
  height:25px;
}
#u248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u249 {
  position:absolute;
  left:39px;
  top:262px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u251 {
  position:absolute;
  left:120px;
  top:258px;
  width:191px;
  height:25px;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u252 {
  position:absolute;
  left:38px;
  top:155px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u254 {
  position:absolute;
  left:29px;
  top:85px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:119px;
  top:156px;
  width:192px;
  height:25px;
}
#u256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u257 {
  position:absolute;
  left:39px;
  top:190px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u259 {
  position:absolute;
  left:120px;
  top:187px;
  width:191px;
  height:25px;
}
#u259_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u260 {
  position:absolute;
  left:39px;
  top:226px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u262 {
  position:absolute;
  left:120px;
  top:222px;
  width:191px;
  height:25px;
}
#u262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u263 {
  position:absolute;
  left:127px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u264 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u263_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u265 {
  position:absolute;
  left:184px;
  top:56px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u266 {
  position:absolute;
  left:16px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u265_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u267 {
  position:absolute;
  left:947px;
  top:270px;
  width:40px;
  height:20px;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u268 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:39px;
  top:223px;
  width:181px;
  height:28px;
}
#u269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u270 {
  position:absolute;
  left:37px;
  top:259px;
  width:61px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u272 {
  position:absolute;
  left:38px;
  top:283px;
  width:181px;
  height:28px;
}
#u272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
