body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:978px;
  top:15px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:951px;
  top:17px;
  width:16px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:3px;
  top:6px;
  width:374px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:365px;
  top:27px;
  width:500px;
  height:21px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:27px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:21px;
  width:130px;
  height:46px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:52px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:23px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:400px;
  top:21px;
  width:147px;
  height:184px;
  visibility:hidden;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:153px;
  height:190px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:189px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:23px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:46px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:69px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:92px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:115px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:138px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:161px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:50px;
  width:1099px;
  height:30px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1px;
  top:80px;
  width:1100px;
  height:520px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:521px;
}
#u48 {
  position:absolute;
  left:2px;
  top:252px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:600px;
  width:1101px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:17px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:1097px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:19px;
  top:56px;
  width:97px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:961px;
  top:56px;
  width:127px;
  height:18px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:200px;
  top:100px;
  width:290px;
  height:480px;
}
#u56_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:295px;
  height:485px;
}
#u57 {
  position:absolute;
  left:2px;
  top:232px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:11px;
  top:100px;
  width:172px;
  height:350px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u58_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:177px;
  height:355px;
}
#u59 {
  position:absolute;
  left:2px;
  top:167px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:11px;
  top:136px;
  width:172px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:14px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u61 {
  position:absolute;
  left:21px;
  top:111px;
  width:66px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:19px;
  top:156px;
  width:75px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:462px;
  top:113px;
  width:16px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u66 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:200px;
  top:136px;
  width:290px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:14px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u68 {
  position:absolute;
  left:232px;
  top:113px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:500px;
  top:100px;
  width:290px;
  height:480px;
}
#u70_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:295px;
  height:485px;
}
#u71 {
  position:absolute;
  left:2px;
  top:232px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:762px;
  top:113px;
  width:16px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u73 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:500px;
  top:136px;
  width:290px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:14px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u75 {
  position:absolute;
  left:538px;
  top:113px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:800px;
  top:100px;
  width:290px;
  height:480px;
}
#u77_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:295px;
  height:485px;
}
#u78 {
  position:absolute;
  left:2px;
  top:232px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1062px;
  top:113px;
  width:16px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u80 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:800px;
  top:136px;
  width:290px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:281px;
  top:-5px;
  width:14px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u82 {
  position:absolute;
  left:837px;
  top:113px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:19px;
  top:190px;
  width:75px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u85 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:19px;
  top:228px;
  width:75px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:11px;
  top:335px;
  width:172px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:14px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  height:1px;
}
#u89 {
  position:absolute;
  left:98px;
  top:160px;
  width:65px;
  height:16px;
  font-size:14px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:99px;
  top:194px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:99px;
  top:232px;
  width:57px;
  height:80px;
  font-size:14px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:81px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:37px;
  top:382px;
  width:117px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:208px;
  top:156px;
  width:273px;
  height:89px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:90px;
}
#u98 {
  position:absolute;
  left:2px;
  top:36px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:218px;
  top:164px;
  width:22px;
  height:16px;
}
#u100 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u101 {
  position:absolute;
  left:244px;
  top:164px;
  width:91px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:216px;
  top:218px;
  width:24px;
  height:27px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:240px;
  top:223px;
  width:53px;
  height:16px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:222px;
  top:194px;
  width:57px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:424px;
  top:159px;
  width:29px;
  height:29px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:452px;
  top:158px;
  width:27px;
  height:27px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:208px;
  top:183px;
  width:273px;
  height:10px;
}
#u113_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u113_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:14px;
  height:20px;
}
#u113_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u114 {
  position:absolute;
  left:414px;
  top:221px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:208px;
  top:254px;
  width:273px;
  height:89px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:90px;
}
#u117 {
  position:absolute;
  left:2px;
  top:36px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:218px;
  top:262px;
  width:22px;
  height:16px;
}
#u119 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u120 {
  position:absolute;
  left:244px;
  top:262px;
  width:91px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:240px;
  top:321px;
  width:53px;
  height:16px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:222px;
  top:292px;
  width:99px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:396px;
  top:256px;
  width:28px;
  height:28px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u127 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:424px;
  top:257px;
  width:29px;
  height:29px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u129 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:452px;
  top:256px;
  width:27px;
  height:27px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u131 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:208px;
  top:281px;
  width:273px;
  height:10px;
}
#u132_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u132_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:14px;
  height:20px;
}
#u132_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u133 {
  position:absolute;
  left:414px;
  top:319px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:208px;
  top:352px;
  width:273px;
  height:89px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:90px;
}
#u136 {
  position:absolute;
  left:2px;
  top:36px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:218px;
  top:360px;
  width:22px;
  height:16px;
}
#u138 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u139 {
  position:absolute;
  left:244px;
  top:360px;
  width:91px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u141 {
  position:absolute;
  left:240px;
  top:419px;
  width:53px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:222px;
  top:390px;
  width:71px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:423px;
  top:354px;
  width:28px;
  height:28px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u146 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:452px;
  top:354px;
  width:27px;
  height:27px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u148 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:208px;
  top:379px;
  width:273px;
  height:10px;
}
#u149_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u149_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:14px;
  height:20px;
}
#u149_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u150 {
  position:absolute;
  left:414px;
  top:417px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:215px;
  top:316px;
  width:23px;
  height:26px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u153 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:216px;
  top:413px;
  width:23px;
  height:26px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u155 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:288px;
  top:195px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:289px;
  top:133px;
  visibility:hidden;
}
#u158_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u158_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:80px;
  color:#999999;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:81px;
}
#u160 {
  position:absolute;
  left:2px;
  top:32px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:10px;
  top:54px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:165px;
  top:56px;
  width:12px;
  height:12px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u164 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:10px;
  top:8px;
  width:141px;
  height:16px;
  font-size:14px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:11px;
  top:30px;
  width:127px;
  height:16px;
  font-size:14px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:508px;
  top:156px;
  width:273px;
  height:89px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:90px;
}
#u170 {
  position:absolute;
  left:2px;
  top:36px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:518px;
  top:164px;
  width:22px;
  height:16px;
}
#u172 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u173 {
  position:absolute;
  left:544px;
  top:164px;
  width:91px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u175 {
  position:absolute;
  left:540px;
  top:223px;
  width:53px;
  height:16px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:522px;
  top:194px;
  width:99px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:752px;
  top:158px;
  width:27px;
  height:27px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u180 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:508px;
  top:183px;
  width:273px;
  height:10px;
}
#u181_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u181_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:14px;
  height:20px;
}
#u181_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u182 {
  position:absolute;
  left:714px;
  top:221px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u184 {
  position:absolute;
  left:516px;
  top:218px;
  width:23px;
  height:26px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u185 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:725px;
  top:158px;
  width:28px;
  height:28px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u187 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:809px;
  top:156px;
  width:273px;
  height:89px;
  color:#999999;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:90px;
}
#u189 {
  position:absolute;
  left:2px;
  top:36px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:819px;
  top:164px;
  width:22px;
  height:16px;
  color:#999999;
}
#u191 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u192 {
  position:absolute;
  left:845px;
  top:164px;
  width:91px;
  height:16px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:17px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:841px;
  top:223px;
  width:53px;
  height:16px;
  color:#999999;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:823px;
  top:194px;
  width:99px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:809px;
  top:183px;
  width:273px;
  height:10px;
}
#u198_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u198_end {
  position:absolute;
  left:264px;
  top:-5px;
  width:14px;
  height:20px;
}
#u198_line {
  position:absolute;
  left:0px;
  top:5px;
  width:273px;
  height:1px;
}
#u199 {
  position:absolute;
  left:1015px;
  top:221px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u201 {
  position:absolute;
  left:817px;
  top:218px;
  width:23px;
  height:26px;
  color:#999999;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:26px;
}
#u202 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203 {
  position:absolute;
  left:1050px;
  top:158px;
  width:28px;
  height:28px;
  color:#999999;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u204 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:591px;
  top:139px;
  visibility:hidden;
}
#u205_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u205_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
  color:#999999;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:61px;
}
#u207 {
  position:absolute;
  left:2px;
  top:22px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:10px;
  top:11px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:165px;
  top:13px;
  width:12px;
  height:12px;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u211 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:10px;
  top:32px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u214 {
  position:absolute;
  left:165px;
  top:34px;
  width:12px;
  height:12px;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u215 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:891px;
  top:141px;
  visibility:hidden;
}
#u216_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u216_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  color:#999999;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:41px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:10px;
  top:10px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:165px;
  top:12px;
  width:12px;
  height:12px;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u222 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:216px;
  top:112px;
  width:22px;
  height:16px;
}
#u224 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u225 {
  position:absolute;
  left:517px;
  top:113px;
  width:22px;
  height:16px;
}
#u226 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u227 {
  position:absolute;
  left:819px;
  top:113px;
  width:22px;
  height:16px;
}
#u228 {
  position:absolute;
  left:16px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u229 {
  position:absolute;
  left:37px;
  top:415px;
  width:117px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u230 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:37px;
  top:349px;
  width:117px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u232 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  word-wrap:break-word;
}
