body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:51px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:978px;
  top:15px;
  width:110px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:23px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:951px;
  top:17px;
  width:16px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:3px;
  top:6px;
  width:374px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:365px;
  top:27px;
  width:500px;
  height:21px;
}
#u9_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:27px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:300px;
  top:21px;
  width:130px;
  height:46px;
  visibility:hidden;
}
#u21_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:52px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:23px;
  width:130px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:400px;
  top:21px;
  width:147px;
  height:184px;
  visibility:hidden;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:153px;
  height:190px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:189px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:23px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:46px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:69px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:92px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:115px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u40 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:138px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:161px;
  width:147px;
  height:23px;
  font-size:14px;
  color:#666666;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u44 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:50px;
  width:1099px;
  height:30px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1px;
  top:80px;
  width:1100px;
  height:520px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:521px;
}
#u48 {
  position:absolute;
  left:2px;
  top:252px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:600px;
  width:1101px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:17px;
}
#u51 {
  position:absolute;
  left:2px;
  top:0px;
  width:1097px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:19px;
  top:100px;
  width:1061px;
  height:480px;
}
#u52_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1066px;
  height:485px;
}
#u53 {
  position:absolute;
  left:2px;
  top:232px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:230px;
  top:100px;
  width:10px;
  height:480px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:14px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:471px;
  width:20px;
  height:14px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:480px;
}
#u55 {
  position:absolute;
  left:39px;
  top:216px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:134px;
  top:216px;
  width:85px;
  height:32px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:33px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:146px;
  top:224px;
  width:20px;
  height:18px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u60 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:19px;
  top:56px;
  width:113px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:867px;
  top:56px;
  width:215px;
  height:18px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:275px;
  top:115px;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u65_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u67 {
  position:absolute;
  left:2px;
  top:220px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:0px;
  top:418px;
  width:100px;
  height:37px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u69 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:589px;
  top:40px;
  width:70px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:126px;
  top:409px;
  width:48px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:364px;
  top:409px;
  width:48px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:599px;
  top:409px;
  width:48px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:100px;
  top:130px;
  width:100px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u79 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:574px;
  top:160px;
  width:100px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:38px;
}
#u81 {
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:275px;
  top:115px;
  visibility:hidden;
}
#u82_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u82_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u84 {
  position:absolute;
  left:2px;
  top:220px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:25px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:606px;
  top:51px;
  width:74px;
  height:19px;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:572px;
  top:310px;
  width:178px;
  height:200px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:201px;
}
#u90 {
  position:absolute;
  left:2px;
  top:92px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:810px;
  top:323px;
  width:178px;
  height:189px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:190px;
}
#u92 {
  position:absolute;
  left:2px;
  top:86px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:275px;
  top:115px;
  visibility:hidden;
}
#u93_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u93_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u95 {
  position:absolute;
  left:2px;
  top:220px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:25px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u97 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:606px;
  top:51px;
  width:74px;
  height:19px;
  font-size:12px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:275px;
  top:115px;
  visibility:hidden;
}
#u100_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u100_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u102 {
  position:absolute;
  left:2px;
  top:220px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:25px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u104 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:606px;
  top:51px;
  width:74px;
  height:19px;
  font-size:12px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:275px;
  top:115px;
  visibility:hidden;
}
#u107_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u107_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:455px;
}
#u109 {
  position:absolute;
  left:2px;
  top:220px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:0px;
  top:430px;
  width:100px;
  height:25px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u111 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:589px;
  top:40px;
  width:70px;
  height:25px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:26px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:340px;
  top:293px;
  width:170px;
  height:217px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:218px;
}
#u115 {
  position:absolute;
  left:2px;
  top:100px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:346px;
  top:132px;
  width:654px;
  height:441px;
  overflow:hidden;
  visibility:hidden;
}
#u116_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:654px;
  height:441px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u116_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:440px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:440px;
}
#u118 {
  position:absolute;
  left:2px;
  top:212px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:39px;
  top:113px;
  width:31px;
  height:19px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:39px;
  top:139px;
  width:181px;
  height:28px;
}
#u121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u122 {
  position:absolute;
  left:39px;
  top:172px;
  width:181px;
  height:28px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:28px;
  font-family:'微軟正黑體 Regular', '微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
