body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:860px;
  top:470px;
  width:100px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:550px;
  top:0px;
  width:550px;
  height:570px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:571px;
}
#u3 {
  position:absolute;
  left:2px;
  top:277px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:571px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:571px;
}
#u5 {
  position:absolute;
  left:2px;
  top:278px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:680px;
  top:28px;
  width:319px;
  height:142px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:142px;
}
#u7 {
  position:absolute;
  left:2px;
  top:63px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:717px;
  top:174px;
  width:260px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:680px;
  top:218px;
  width:328px;
  height:252px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:252px;
}
#u11 {
  position:absolute;
  left:2px;
  top:118px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:715px;
  top:338px;
  width:275px;
  height:32px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u13 {
  position:absolute;
  left:717px;
  top:263px;
  width:269px;
  height:27px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u14 {
  position:absolute;
  left:708px;
  top:229px;
  width:82px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:711px;
  top:310px;
  width:89px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:85px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:713px;
  top:415px;
  width:274px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:41px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:270px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:358px;
  top:263px;
  visibility:hidden;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:139px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:140px;
}
#u22 {
  position:absolute;
  left:2px;
  top:62px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:114px;
  top:100px;
  width:70px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:270px;
  top:9px;
  width:27px;
  height:26px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:57px;
  top:39px;
  width:231px;
  height:34px;
  font-size:15px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:35px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:12px;
  top:36px;
  width:36px;
  height:38px;
  color:#73A222;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u29 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
